h1{
	font-family:cursive;
	font-weight:bold;
	text-align: center;
	text-decoration:underline;
}

input[type=text]{
	border:2px solid #ecd;
	width:200px;
	height:auto;
}
form {
      width: 800px;
      margin: auto;
      background:#cad2e8;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px #ccc;
    }
label {
      
      margin-top: 15px;
    }
	input[type="text"],
    input[type="number"],
    input[type="email"],
    select {display:grid;
	grid-template-columns: 1fr 3fr;
      width:50%;
      padding: 8px;
      border-radius:3px;
    }
	.gender,
    .education { border:2px solid black;
	      margin:auto;
      margin-top: 5px;
	  background-color:#e5e8d1;
    }
.buttons input {
      padding: 10px 20px;
      margin: 10px 10px;
      border: none;
      border-radius: 5px;
       cursor:pointer;
    }

    .buttons input[type="submit"] {
      background-color: #2e78be;
      color: white;
    }

    .buttons input[type="reset"] {
      background-color: #30bfcc;
      color: white;
    }
	